//! **************************************************************************
// Written by: Map J.40 on Wed May 07 20:49:03 2008
//! **************************************************************************

SCHEMATIC START;
COMP "reset1" LOCATE = SITE "A13" LEVEL 1;
COMP "Vert_sync" LOCATE = SITE "D8" LEVEL 1;
COMP "Horiz_sync" LOCATE = SITE "B7" LEVEL 1;
COMP "Blue<0>" LOCATE = SITE "C9" LEVEL 1;
COMP "Blue<1>" LOCATE = SITE "E7" LEVEL 1;
COMP "Blue<2>" LOCATE = SITE "D5" LEVEL 1;
COMP "Clock" LOCATE = SITE "P8" LEVEL 1;
COMP "Red<0>" LOCATE = SITE "C8" LEVEL 1;
COMP "Red<1>" LOCATE = SITE "D6" LEVEL 1;
COMP "Green<0>" LOCATE = SITE "A8" LEVEL 1;
COMP "Red<2>" LOCATE = SITE "B1" LEVEL 1;
COMP "Green<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "Green<2>" LOCATE = SITE "C3" LEVEL 1;
NET "Clock_BUFGP/IBUFG" BEL "Clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
