//! **************************************************************************
// Written by: Map P.68d on Tue May 13 18:28:05 2014
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "T9" LEVEL 1;
COMP "blue_out<0>" LOCATE = SITE "C9" LEVEL 1;
COMP "blue_out<1>" LOCATE = SITE "E7" LEVEL 1;
COMP "blue_out<2>" LOCATE = SITE "D5" LEVEL 1;
COMP "green_out<0>" LOCATE = SITE "A8" LEVEL 1;
COMP "green_out<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "green_out<2>" LOCATE = SITE "C3" LEVEL 1;
COMP "ps2_clk" LOCATE = SITE "B16" LEVEL 1;
COMP "rst_n" LOCATE = SITE "E11" LEVEL 1;
COMP "clk50_in" LOCATE = SITE "P8" LEVEL 1;
COMP "vs_out" LOCATE = SITE "D8" LEVEL 1;
COMP "led<0>" LOCATE = SITE "M6" LEVEL 1;
COMP "led<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "led<2>" LOCATE = SITE "N6" LEVEL 1;
COMP "led<3>" LOCATE = SITE "R7" LEVEL 1;
COMP "led<4>" LOCATE = SITE "P10" LEVEL 1;
COMP "led<5>" LOCATE = SITE "T7" LEVEL 1;
COMP "led<6>" LOCATE = SITE "R10" LEVEL 1;
COMP "ps2_data" LOCATE = SITE "E13" LEVEL 1;
COMP "hs_out" LOCATE = SITE "B7" LEVEL 1;
COMP "red_out<0>" LOCATE = SITE "C8" LEVEL 1;
COMP "red_out<1>" LOCATE = SITE "D6" LEVEL 1;
COMP "red_out<2>" LOCATE = SITE "B1" LEVEL 1;
NET "clk50_in_BUFGP/IBUFG" BEL "clk50_in_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
PIN u2/Mram_char_ram2.A_pins<13> = BEL "u2/Mram_char_ram2.A" PINNAME CLKA;
PIN u2/Mram_char_ram2.B_pins<13> = BEL "u2/Mram_char_ram2.B" PINNAME CLKB;
PIN u2/Mram_char_ram1.A_pins<13> = BEL "u2/Mram_char_ram1.A" PINNAME CLKA;
PIN u2/Mram_char_ram1.B_pins<13> = BEL "u2/Mram_char_ram1.B" PINNAME CLKB;
TIMEGRP clk = BEL "mips_clk_input" BEL "char_write_addr_0" BEL
        "char_write_addr_1" BEL "char_write_addr_5" BEL "keyboard_clk" BEL
        "char_write_value_0" BEL "char_write_value_1" BEL "char_write_value_2"
        BEL "char_write_value_3" BEL "char_write_value_4" BEL
        "char_write_value_5" BEL "char_write_value_6" BEL "char_write_value_7"
        BEL "cnt_0" BEL "cnt_1" BEL "cnt_2" BEL "cnt_3" BEL "cnt_4" BEL
        "cnt_5" BEL "cnt_6" BEL "cnt_7" BEL "cnt_8" BEL "cnt_9" BEL "cnt_10"
        BEL "cnt_11" BEL "cnt_12" BEL "cnt_13" BEL "cnt_14" BEL "cnt_15" BEL
        "cnt_16" BEL "cnt_17" BEL "cnt_18" BEL "cnt_19" BEL "cnt_20" BEL
        "cnt_21" BEL "cnt_22" BEL "cnt_23" BEL "cnt_24" BEL "cnt_25" BEL
        "cnt_26" BEL "cnt_27" BEL "cnt_28" BEL "cnt_29" BEL "cnt_30" BEL
        "cnt_31" BEL "cnt0_0" BEL "cnt0_1" BEL "cnt0_2" BEL "cnt0_3" BEL
        "cnt0_4" BEL "cnt0_5" BEL "cnt0_6" BEL "cnt0_7" BEL "cnt0_8" BEL
        "cnt0_9" BEL "cnt0_10" BEL "cnt0_11" BEL "cnt0_12" BEL "cnt0_13" BEL
        "cnt0_14" BEL "cnt0_15" BEL "cnt0_16" BEL "cnt0_17" BEL "cnt0_18" BEL
        "cnt0_19" BEL "cnt0_20" BEL "cnt0_21" BEL "cnt0_22" BEL "cnt0_23" BEL
        "cnt0_24" BEL "cnt0_25" BEL "cnt0_26" BEL "cnt0_27" BEL "cnt0_28" BEL
        "cnt0_29" BEL "cnt0_30" BEL "cnt0_31" BEL "u1/Mrom_data_rom0000.A" PIN
        "u2/Mram_char_ram2.A_pins<13>" PIN "u2/Mram_char_ram2.B_pins<13>" PIN
        "u2/Mram_char_ram1.A_pins<13>" PIN "u2/Mram_char_ram1.B_pins<13>" BEL
        "clk_BUFGP/BUFG.GCLKMUX" BEL "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 10 ns HIGH 50%;
SCHEMATIC END;

