//! **************************************************************************
// Written by: Map P.68d on Mon May 12 17:06:22 2014
//! **************************************************************************

SCHEMATIC START;
NET "clk50_in_BUFGP/IBUFG" BEL "clk50_in_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
COMP "led<0>" LOCATE = SITE "M6" LEVEL 1;
COMP "led<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "led<2>" LOCATE = SITE "N6" LEVEL 1;
COMP "clk" LOCATE = SITE "T9" LEVEL 1;
COMP "led<3>" LOCATE = SITE "R7" LEVEL 1;
COMP "led<4>" LOCATE = SITE "P10" LEVEL 1;
COMP "led<5>" LOCATE = SITE "T7" LEVEL 1;
COMP "led<6>" LOCATE = SITE "R10" LEVEL 1;
COMP "vs_out" LOCATE = SITE "D8" LEVEL 1;
COMP "hs_out" LOCATE = SITE "B7" LEVEL 1;
COMP "blue_out<0>" LOCATE = SITE "C9" LEVEL 1;
COMP "red_out<0>" LOCATE = SITE "C8" LEVEL 1;
COMP "blue_out<1>" LOCATE = SITE "E7" LEVEL 1;
COMP "red_out<1>" LOCATE = SITE "D6" LEVEL 1;
COMP "blue_out<2>" LOCATE = SITE "D5" LEVEL 1;
COMP "red_out<2>" LOCATE = SITE "B1" LEVEL 1;
COMP "ps2_data" LOCATE = SITE "E13" LEVEL 1;
COMP "rst_n" LOCATE = SITE "E11" LEVEL 1;
COMP "green_out<0>" LOCATE = SITE "A8" LEVEL 1;
COMP "green_out<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "green_out<2>" LOCATE = SITE "C3" LEVEL 1;
COMP "clk50_in" LOCATE = SITE "P8" LEVEL 1;
COMP "ps2_clk" LOCATE = SITE "B16" LEVEL 1;
PIN u2/Mram_char_ram1.A_pins<13> = BEL "u2/Mram_char_ram1.A" PINNAME CLKA;
PIN u2/Mram_char_ram1.B_pins<13> = BEL "u2/Mram_char_ram1.B" PINNAME CLKB;
PIN u2/Mram_char_ram2.A_pins<13> = BEL "u2/Mram_char_ram2.A" PINNAME CLKA;
PIN u2/Mram_char_ram2.B_pins<13> = BEL "u2/Mram_char_ram2.B" PINNAME CLKB;
TIMEGRP clk = BEL "keyboard_clk" BEL "u1/Mrom_data_rom0000.A" PIN
        "u2/Mram_char_ram1.A_pins<13>" PIN "u2/Mram_char_ram1.B_pins<13>" PIN
        "u2/Mram_char_ram2.A_pins<13>" PIN "u2/Mram_char_ram2.B_pins<13>" BEL
        "clk_BUFGP/BUFG.GCLKMUX" BEL "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 10 ns HIGH 50%;
SCHEMATIC END;

